#root {
  min-height: 100%;
  height: auto !important;
  width: 100%; 
  height: 100%;
  margin: 0 auto -80px;
  /* Pad the bottom by footer height */
  padding: 0 0 80px;
}

footer {
  height: 80px;
  background-color: #212121;
  opacity: .7;
  color: #999;
}

footer > p {
  padding-top: 20px;
  text-align: center;
}