.tags-container {
  height: 150px;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 10px;
}

.tag {
  border-left: solid black 3px;
  padding-left: 10px;
  font-size: 20px;
}

.tag-container {
  margin-top: 5px;
}

.clear-tags {
  margin-bottom: 0px;
  margin-top: 10px;
  float: right;
}
